# [作業目標]
- 對資料做更多處理 : 顯示特定欄位的統計值與直方圖

# [作業重點]
- 試著顯示特定欄位的基礎統計數值 (In[4], Out[4], Hint : describe())
- 試著顯示特定欄位的直方圖 (In[5], Out[5], Hint : .hist())

In [1]:
# Import 需要的套件
import os
import numpy as np
import pandas as pd

# 設定 data_path
data_path = './data/'

In [2]:
f_app_train = os.path.join(data_path, 'application_train.csv')
app_train = pd.read_csv(f_app_train)

In [3]:
app_train.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
## 導入視覺化套件
import matplotlib.pyplot as plt
%matplotlib inline

## 練習時間

觀察有興趣的欄位的資料分佈，並嘗試找出有趣的訊息
#### Eg
- 計算任意欄位的平均數及標準差
- 畫出任意欄位的[直方圖](https://zh.wikipedia.org/zh-tw/%E7%9B%B4%E6%96%B9%E5%9B%BE)

### Hints:
- [Descriptive Statistics For pandas Dataframe](https://chrisalbon.com/python/data_wrangling/pandas_dataframe_descriptive_stats/)
- [pandas 中的繪圖函數](https://amaozhao.gitbooks.io/pandas-notebook/content/pandas%E4%B8%AD%E7%9A%84%E7%BB%98%E5%9B%BE%E5%87%BD%E6%95%B0.html)

In [ ]:
## 更進一步了解數據集 - 統計
app_train.describe()

## 將三種不同類型的特徵分類 - int_features, float_features, object_features

In [ ]:
int_features = []
float_features = []
object_features = []
for dtype, feature in zip(app_train.dtypes, app_train.columns):
    if dtype == 'int64':
        int_features.append(feature)
    elif dtype == 'float64':
        float_features.append(feature)
    else:
        object_features.append(feature)

## 計算三種不同類型的特徵的平均數、標準差

In [ ]:
app_train[int_features].describe()
app_train[int_features].mean()
app_train[int_features].std()

In [ ]:
app_train[float_features].describe()
# app_train[float_features].mean()
# app_train[float_features].std()

In [ ]:
app_train[object_features].describe()
# app_train[object_features].mean()
# app_train[object_features].std()

## 拿其中一個欄位來計算平均數、標準差 ex. AMT_INCOME_TOTAL

In [ ]:
## https://chrisalbon.com/code/python/data_wrangling/pandas_dataframe_descriptive_stats/
print('計算AMT_INCOME_TOTAL平均數: ', app_train['AMT_INCOME_TOTAL'].mean())
# app_train['AMT_INCOME_TOTAL'].max()
# app_train['AMT_INCOME_TOTAL'].min()
print('計算AMT_INCOME_TOTAL標準差: ', app_train['AMT_INCOME_TOTAL'].std())

## 畫直方圖、長條圖 ex. OWN_CAR_AGE

In [ ]:
## 方法一
app_train['OWN_CAR_AGE'].plot.hist(alpha = 0.6);

In [ ]:
## 方法二
plt.hist(app_train['OWN_CAR_AGE'], color = 'gold')
plt.title('OWN_CAR_AGE')
plt.xlabel('Age')
plt.ylabel('Count')
plt.show()

In [ ]:
plt.hist(app_train['TARGET']);

In [ ]:
plt.bar(['0', '1'], app_train['TARGET'].value_counts());

## 當處理不為數值型態的特徵時，可以使用value_counts來計算其各唯一值數量

In [ ]:
# plt.bar(app_train['CODE_GENDER'].unique(), app_train['CODE_GENDER'].value_counts()); 有錯誤unique的排序，不一定等於value_counts的排序
plt.bar(['F', 'M', 'XNA'], app_train['CODE_GENDER'].value_counts())
plt.title('CODE GENDER')
plt.xlabel('Gender')
plt.ylabel('Count')
plt.show()

In [ ]:
plt.hist(app_train['AMT_ANNUITY'])
plt.title('AMT_ANNUITY')
plt.xlabel('$')
plt.ylabel('Count')
plt.show()